## Variable Case senstivity

variable names defined as

SAKIB Sakib sAkIb all are different beacuse of the case sensitivity.

In [1]:
TEN = 10
ten = 20
# TEN and ten both are different in terms of lowercase and uppercase letter

In [2]:
print(Ten)

NameError: name 'Ten' is not defined

In [3]:
print(TEN)

10

## Reserved words in Python

https://docs.python.org/2.5/ref/keywords.html

1. should not use reserved words as variable names
2. Also python doesn't restrict the user to use reserved keywords as variable names

In [4]:
print("Hi there")

Hi there

In [15]:
abc = "abcd"
print(abc)

TypeError: 'str' object is not callable

In [9]:
print = "Hi there" # as a variable
print(print)

TypeError: 'str' object is not callable

In [ ]:
print = "Hi there" # as a variable
type(print)

In [13]:
print("Hi there")

TypeError: 'str' object is not callable

In [ ]:
print = 12 # as a variable
type(print)

int

In [ ]:
print("Hi there")

TypeError: ignored

In [16]:
del print # delete the variable print

In [17]:
print("Hi there")

Hi there

In [18]:
Print = "Hi there" # as a variable
type(Print)

str

In [ ]:
print("Hi there")

Hi there

In [ ]:
print = 10

In [ ]:
type(print)

int

In [ ]:
del print

In [ ]:
print("Sunny")

Sunny

## Multi assignment of variables

In [ ]:
a, b, c, yes = 10, 20.2, "Sakib", True

In [ ]:
type(a)

int

In [ ]:
type(b)

float

In [ ]:
type(c)

str

In [ ]:
type(yes)

bool

In [ ]:
type(a)

int

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(yes))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# a,b,c = 10

In [5]:
a,b,c = 10,10,10

In [6]:
a, A, c, C = 10, 20.2, "Sakib", True

In [7]:
print(a, A, c, C)

10 20.2 Sakib True

In [8]:
a=b=c=10

In [9]:
a,b,c

(10, 10, 10)

In [ ]:
firstName, middleName, sirName = "Syed", "Nazmus", "Sakib"

In [ ]:
print(f"{firstName}.{sirName}@gmail.com")

Sunny.Chandra@gmail.com

In [10]:
name, place, year_of_birth, weight = "Sakib", "Khulna", 1869, 96.69

In [11]:
print(f"""
My name is: {name}
I live at: {place}
I was born in: {year_of_birth}
My weight is: {weight} in Kgs
""")

My name is: Sakib
I live at: Khulna
I was born in: 1869
My weight is: 96.69 in Kgs

## User input

In [ ]:
name = input("Enter your Name: ")

print(f"You have entered: {name}")

Enter your Name: 1234
You have entered: 1234

In [ ]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")

print(f"Sum of A and B is: {A+B}")

Enter value of A: 12
Enter value of B: 10
Sum of A and B is: 1210

input() normally takes strings as default type. so if you won't specifically mention it or type cast it, the input will work as strings.

In [12]:
print("Sum of A and B is: {A+B}")

Sum of A and B is: {A+B}

In [ ]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")

print(type(A), type(B))

Enter value of A: 12
Enter value of B: 10
<class 'str'> <class 'str'>

In [13]:
name = input("Name: ")
place = input("place: ")
year_of_birth = input("year_of_birth: ")

Name: Syed Nazmus Sakib
place: Khulna
year_of_birth: 1869

In [16]:
print(f"""
My name is: {name}
I live at: {place}
I was born in: {year_of_birth}
""")

My name is: Syed Nazmus Sakib
I live at: Khulna
I was born in: 1869

# Calculate the age of the user

### it will produce an error find it before running it

In [17]:
# calcualte the age of the user

name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = input("year_of_birth: ")

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: Sakib
place: Khulna
year_of_birth: 1869

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [18]:
# calcualte the age of the user

name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = int(input("year_of_birth: ")) # convert this into integer

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: Sakib
place: Khulna
year_of_birth: 1869

My name is: Sakib
I live at: Khulna
Sakib is of age: 153

In [19]:
# calcualte the age of the user

name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = input("year_of_birth: ") # convert this into integer

age = 2022 - int(year_of_birth)

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: sakib
place: khulna
year_of_birth: 1869

My name is: sakib
I live at: khulna
sakib is of age: 153

In [ ]:
# calcualte the age of the user

name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = input("year_of_birth: ") # convert this into integer
current_year = input("current year: ")
age = int(current_year) - int(year_of_birth)

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: Sunny
place: BLR
year_of_birth: 1991
current year: 2023

My name is: Sunny
I live at: BLR
Sunny is of age: 32

## Type conversion

We can convert the data type of one variable into another if it is allowed

In [ ]:
A = int(input("Enter value of A: "))
B = int(input("Enter value of B: "))

print(type(A), type(B))

Enter value of A: 12
Enter value of B: 10
<class 'int'> <class 'int'>

In [ ]:
print(f"Sum of A and B is: {A+B}")

Sum of A and B is: 22

In [ ]:
int A

SyntaxError: ignored

In [20]:
A = float(input("Enter value of A: "))
B = float(input("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")

Enter value of A: 12
Enter value of B: 13
Sum of A and B is: 25.0

In [21]:
A = float(input("Enter value of A: "))
B = int(input("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")

Enter value of A: 10.23
Enter value of B: 34.34

ValueError: invalid literal for int() with base 10: '34.34'

In [ ]:
A = float(input("Enter value of A: "))
B = int(input("Enter value of B: ")) # 10.2 is float but converting to int

print(f"Sum of A and B is: {A+B}")

Enter value of A: 10.2
Enter value of B: 10.2

ValueError: ignored

In [ ]:
# String to integer
A = "50"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50
data type after: <class 'int'>, value of A: 50

In [ ]:
# String to integer
A = "50.22" # entering float
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A) # trying to convert into integer
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50.22

ValueError: ignored

In [ ]:
# float to integer
A = 50.22
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 50.22
data type after: <class 'int'>, value of A: 50

In [ ]:
# integer to float
A = 50
print(f"data type before: {type(A)}, value of A: {A}")
A = float(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 50
data type after: <class 'float'>, value of A: 50.0

In [ ]:
# integer to boolean
A = 10
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 10
data type after: <class 'bool'>, value of A: True

* True in binary - 1
* False in binary - 0

In [ ]:
# integer to boolean
A = 0
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 0
data type after: <class 'bool'>, value of A: False

In [ ]:
# integer to boolean
A = 1
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 1
data type after: <class 'bool'>, value of A: True

> NOTE: Converting any non zero number and string values into boolean will give True as an answer

> NOTE: Empty string "" will give False as an answer after converting from string to boolean

In [ ]:
# integer to boolean
A = -5
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: -5
data type after: <class 'bool'>, value of A: True

In [ ]:
# string to boolean
A = "Sunny"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: Sunny
data type after: <class 'bool'>, value of A: True

In [ ]:
# string to boolean
A = "True"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: True
data type after: <class 'bool'>, value of A: True

In [ ]:
# string to boolean
A = "False"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: False
data type after: <class 'bool'>, value of A: True

In [ ]:
# empty string to boolean
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:
data type after: <class 'bool'>, value of A: False

In [ ]:
# empty string to boolean
A = " "
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:
data type after: <class 'bool'>, value of A: True

In [ ]:
# empty string to int
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:

ValueError: ignored

## Memory block

In [22]:
a = 22
b = 34
c = 22

In [23]:
id(a) # memory address

140730412799432

In [24]:
id(b)

140730412799816

In [25]:
id(c)

140730412799432

In [26]:
c = 22 + b

In [27]:
id(c)

140730412800520

In [28]:
a = 22
id(a)

140730412799432

In [29]:
a = 99
id(a)

140730412801896

Memory is assigned to the value of variable passed not the variable name

In [30]:
a = 22
b = 34
c = 22

print(id(a), id(b), id(c))

140730412799432 140730412799816 140730412799432

In [31]:
a = "Sakib"
b = 34
c = "Sakib"

print(id(a), id(b), id(c))

2514431561904 140730412799816 2514431561904

In [32]:
a = "S"
b = 34
c = "S"

print(id(a), id(b), id(c))

140730412213656 140730412799816 140730412213656

In [33]:
a = 22
b = 34
c = 22.0

print(id(a), id(b), id(c))

140730412799432 140730412799816 2514444790480

In [34]:
x = input("Enter the value of x: ")

Enter the value of x: re

In [35]:
x =  22.2
bool(x)

True

In [36]:
x =  22
bool(x)

True

In [37]:
x =  0.0
bool(x)

False

In [38]:
x =  0
bool(x)

False

In [39]:
x =  -22
bool(x)

True

In [40]:
x =  -22.2
bool(x)

True

In [44]:
i_have_a_doubt = input("yes? ")
bool(i_have_a_doubt)

yes?

False

In [ ]:
# this is interesting
i_have_a_doubt = input("yes? ")
bool(i_have_a_doubt)

yes?

False

In [45]:
25.88 + 10

35.879999999999995

In [46]:
round(25.88 + 10, 2)

35.88

In [47]:
25.89 + 10

35.89

In [48]:
def sum_of_values(x, y):
  print(x+y)

sum_of_values(22.2, 33, 444)

TypeError: sum_of_values() takes 2 positional arguments but 3 were given